/* Include TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Font Styles */

html {
   color: #f7f7f6;
}

html h1 {
   font-weight: 700;
   font-size: 6rem;
}

html h2 {
   font-weight: 700;
   font-size: 4rem;
}

html p,
html input,
html textarea {
   font-weight: 300;
   font-size: 2rem;
   line-height: 2.5rem;
}

html p a:hover {
   background-color: #6effd3;
   transition: background-color 0.2s;
}

::selection {
   background: #6effd3; /* WebKit/Blink Browsers */
   color: #212121;
}
::-moz-selection {
   background: #6effd3; /* Gecko Browsers */
   color: #212121;
}

/* Transition Styles */

.fade-enter-active,
.fade-leave-active {
   transition: opacity 0.2s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
   opacity: 0;
}
